<div class="container">
  <div class="details">
      <h6 class="details__item"><span>Location:</span> {{ page.title }}</h6>
      <h6 class="details__item"><span>Camera:</span> {{ page.camera }}</h6>
      {% if page.copy %}
        <h6 class="details__item details__item--copy">{{ page.copy }}</h6>
      {% endif %}
  </div>
  <div class="photos">
    {% assign image-folder = page.image-folder %}
    {% for image in site.static_files %}
      {% if image.path == 'image-folder' %}
        <img src="{{ site.url }}{{ image.path }}" alt="">
      {% endif %}
    {% endfor %}
  </div>
</div>
