<div class="container">
  <div class="details">
      <h6 class="details__item"><span>Location:</span> {{ page.title }}</h6>
      <h6 class="details__item"><span>Camera:</span> {{ page.camera }}</h6>
  </div>
  <div class="photos">
    {% capture image-folder %}{{ page.image-folder }}{% endcapture %}
    {% for image in site.static_files %}
      {% if image.path contains image-folder %}
        <img src="{{ image.path }}" alt="">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% include footer.html %}
