/* greys
#ccc
#ececec
#eee */

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #f6f6f6;
  margin: 0;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 1rem 0;
}

header a {
  text-decoration: none;
}

footer {
  background-color: #eee;
  margin-top: 4rem;
  padding: 2rem 0;
}

.container {
  margin: 0 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5rem;
}

h1, .h1 {
  font-size: 2.4rem;
}

h2, .h2 {
  font-size: 2.1rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0;
}

small,
.small {
  font-size: 1rem;
}

a {
  color: #000000;
}

a:hover {
  background-color: #ececec;
}

a:visited {
  color: #000000;
}

header h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header h2 {
  margin-bottom: 0;
}

.details {
  padding: 2rem 0;
}

.details__item {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
}

.details__item--copy {
  display: block;
  margin-top: 1rem;
}

.details__item:first-of-type {
  margin-right: 1rem;
}

.details__item span {
  font-weight: 400;
}

.photos {
  overflow: hidden;
}

.photos img {
  max-width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.photos img:last-of-type {
  margin-bottom: 0;
}

.posts {
  padding: 2rem 0;
}

.posts p:nth-child(-n+4):before {
  content: 'New';
  display: inline;
  margin-right: 1rem;
  background: #41FFC8;
  font-size: 1.2rem;
  padding: 0 0.2rem 0 0.1rem;
}

.posts__item {
  margin-bottom: 2rem;
}

.standout {
  display: inline-block;
  background: #41FFC8;
  padding: 0 0.5rem 0.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.mailchimp-signup {
  margin-bottom: 1rem;
}

#mc_embed_signup {
  clear:left; width:100%;
}

#mc_embed_signup label {
  font-weight: normal !important;
}

#mc_embed_signup input[type="submit"] {
    -webkit-appearance: none;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: #aaa !important;
    font-family: 'Source Code Pro', monospace !important;
}

@media screen and (min-width: 990px) {
  .photos {
    //-moz-column-count: 3;
    //-moz-column-gap: 2rem;
    //-webkit-column-count: 3;
    //-webkit-column-gap: 2rem;
    //column-count: 3;
    //column-gap: 2rem;
  }

  .photos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (width: 768px) {
  .mailchimp-signup {
    width: 50%;
    margin: 0 auto;
  }
}
